.expWrap {

    max-width: 1220px;
    padding: 50px 20px;
    margin: 0 auto;
    min-height: calc(100vh - 500px);

    .expItem {
        
    }

    .expNotFound {
        text-align: center;

    }
}